[Unit]
Description=AQS client sensor
After=network.target

[Service]
Type=simple
ExecStart=python3 aqs_client_sensor.py --loglevel INFO
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target